<div class = "card">
    <div class="card-header">
        {{pageTitle + ': ' + device?.name}}
    </div>
    <div class="card-body" *ngIf="device">
        <div class = "row">
            <div class="col-md-4">Name:</div>
            <div class="col-md-4">{{device.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Type:</div>
            <div class="col-md-4">{{device.deviceType.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Manufacturer:</div>
            <div class="col-md-4">{{device.manufacturer.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Operating System:</div>
            <div class="col-md-4">{{device.osVersion.os.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Operating System Version:</div>
            <div class="col-md-4">{{device.osVersion.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Processor</div>
            <div class="col-md-4">{{device.processor.name}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">RAM Amount:</div>
            <div class="col-md-4">{{device.ramAmount.amount}}</div>
        </div>
        <div class = "row">
            <div class="col-md-4">Device user:</div>
            <div class="col-md-4" [ngClass]="{'fst-italic': !device.user}">{{device.user==null? "Not assigned" : device.user.firstName + " " + device.user.lastName}} </div>
        </div>
    </div >
    <div class = "card-footer">
        <button class = "btn btn-outline-secondary"
                style ="margin-right: 1%"
                (click)="onBack()">
            <i class = "fa fa-chevron-left"></i> Back
        </button>        
    </div>
</div>


