<div class = 'card'>
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class = 'card-body'>
        <div class="row">
            <div class="col-md-1">Search:</div>
            <div class='col-md-4'>
              <input type='text'
                     [(ngModel)]='listFilter' />
            </div>
          <div class ='col-md-2 offset-5'>
              <button (click)="initNewDevice()" class = 'btn btn-primary'>+ Add device</button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
              <th>Name</th>
              <th>Device Type</th>
              <th>Manufacturer</th>
              <th>Current user</th>
              <th></th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let device of filteredDevices">
                <td><a [routerLink]="['/devices', device.id]">{{device.name}}</a></td>
                <td>{{device.deviceType.name}}</td>
                <td>{{device.manufacturer.name}}</td>
                <td><ng-container *ngIf="device.user"><span [ngClass]="{'text-danger': device.user && device.user.id === this.userId}">{{device.user.firstName}} {{device.user.lastName}}</span></ng-container></td>
                <td>
                  <ng-container *ngIf="!device.user"><button (click)="assignDevice(device.id)" class = 'btn btn-success btn-sm'>Book device</button></ng-container>
                  <ng-container *ngIf="device. user && device.user.id == this.userId"><button (click)="unassignDevice(device.id)" class = 'btn btn-warning btn-sm'>Unassign device</button></ng-container>
                </td>
                <td><button (click)="onUpdateDevice(device.id)" class = 'btn btn-secondary btn-sm'>Update device</button></td>
                <td><button (click)="deleteDevice(device.id, device.name)" class = 'btn btn-outline-danger btn-sm'>Delete device</button></td>                
              </tr>
            </tbody>
          </table>
    </div>
    
</div>