<form class = "card" #deviceForm="ngForm">

    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" *ngIf="device != undefined" >
        <div class = "row">
            <div class="col-md-4">Name:</div>
            <div class="col-md-4"><input name="deviceName" required class ="form-control" [(ngModel)]="device.name" #deviceName="ngModel"/></div>
            <div [hidden]=" deviceName.pristine || deviceName.valid" class="col-md-4">Please add a device name.</div>
        </div>
        
        <div class = "row">
            <div class="col-md-4">Device Type:</div>
            <div class="col-md-4">
                <select name="deviceType" required [(ngModel)]="device.deviceType.id" #deviceType="ngModel" class="form-control">
                    <option *ngFor="let deviceType of deviceTypes" [value]="deviceType.id">{{ deviceType.name }}</option>
                  </select>                  
            </div>   

        </div>

        <div class = "row">
            <div class="col-md-4">Manufacturer:</div>
            <div class="col-md-4">
                <select name="deviceManufacturer" required [(ngModel)]="device.manufacturer.id" class="form-control">
                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{ manufacturer.name }}</option>
                  </select>                  
            </div>
        </div>
        <div class = "row">
            <div class="col-md-4">Operating System Version:</div>
            <div class="col-md-4">
                <select name="deviceVersion" required [(ngModel)]="device.osVersion.id" class="form-control">
                    <option *ngFor="let osVersion of osVersions" [value]="osVersion.id">{{ osVersion.name }}</option>
                  </select>                  
            </div>
        </div>
        <div class = "row">
            <div class="col-md-4">Processor:</div>
            <div class="col-md-4">
                <select name="deviceProcessor" required [(ngModel)]="device.processor.id" class="form-control">
                    <option *ngFor="let p of processors" [value]="p.id">{{ p.name }}</option>
                  </select>                  
            </div>
        </div>
        <div class = "row">
            <div class="col-md-4">RAM Amount:</div>
            <div class="col-md-4">
                <select name="deviceRamAmount" required [(ngModel)]="device.ramAmount.id" class="form-control">
                    <option *ngFor="let r of ramAmounts" [value]="r.id">{{ r.amount }}</option>
                  </select>                  
            </div>
        </div>
        <div class = "row" *ngIf="this.errorMessage">
            <p class ="alert alert-danger col-md-4">{{this.errorMessage}}</p>
        </div>
    </div >
    <div class = "card-footer ">
               
        <button class = "btn btn-outline-secondary"
                style ="margin-right: 1%"
                (click)="onBack()">
            <i class = "fa fa-chevron-left"></i> Back
        </button>
        <button class = "btn btn-success"
                (click)="device && updateDevice(device)" 
                [disabled]="!deviceForm.form.valid"
                *ngIf="device && device.id">
                Update device
        </button>
        <button class = "btn btn-success"
                [disabled]="!deviceForm.form.valid"
                (click)="device && createDevice(device)" 
                *ngIf="!device || !device.id || device.id == 0"> 
                Create device
        </button>
      
    </div>
</form>


