<nav class = "navbar navbar navbar-expand navbar-light bg-light ">
  <a class = "navbar-brand">{{pageTitle}}</a>
  <ul class = "nav nav-pills">
  <li><a class = "nav-link" [routerLink]="['/welcome']">Home</a></li>
  <li><a class = "nav-link" [routerLink]="['/devices']">Device List</a></li>
  </ul>  
  <button class="btn btn-secondary" [routerLink]="['/login']" *ngIf="!token">Login</button>
  <button class="btn btn-secondary"(click)="logout()" *ngIf="token">Logout</button>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>