<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
      </div>

      <div class="text-center" >
        <h4>{{isUserAuthenticated()? "Welcome to" :  "Login to see"}}</h4>
      </div>
      <div class="text-center">
        <h3>Coolest Device Management System</h3>
      </div>

      <div class="text-center" *ngIf="!isUserAuthenticated()">
        <button class="btn btn-primary btn-sm btn-login" [routerLink]="['/login']">Login</button>
        <button class="btn btn-primary btn-sm btn-login" [routerLink]="['/register']">Sign up</button>
      </div>
      <div class="text-center" *ngIf="isUserAuthenticated()">
        <button class="btn btn-primary btn-sm" [routerLink]="['/devices']">Go to Device List</button>
      </div>
      
    </div>
  </div>
</div>